<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9xiDOvbAqnkFiG7GFsHZh9X3kn49hxAs</string>
	<key>GCM_SENDER_ID</key>
	<string>437080331346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-801d9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-801d9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437080331346:ios:c13d839952311144587b8b</string>
</dict>
</plist>